.audience {
  padding: 50px 15px;
  background-color: $background_light-sky;

  @include for-large-up {
    padding: 110px 130px;
  }

  &__subtittle {
    font-size: 22px;
    font-weight: 700;
    line-height: 34px;
    text-align: center;
  }
  &__tittle {
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -0.3571428954601288px;
    text-align: center;
    margin-top: 17px;

    @include for-large-up {
      font-size: 56px;
      line-height: 56px;
      margin-top: 24px;
    }
  }
  &__description {
    font-size: 24px;
    font-weight: 400;
    line-height: 34px;
    text-align: center;
    margin-top: 18px;
    margin-bottom: 30px;

    @include for-large-up {
      margin-top: 30px;
    }
  }
}
.audience__gallery {
  margin-top: 40px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include for-large-up {
    margin-top: 111px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
.card__decoration {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  // background: linear-gradient(
  //     180deg,
  //     rgba(255, 255, 255, 0.05) 0%,
  //     rgba(255, 255, 255, 1e-5) 100%
  //   ),
  //   #ffffff;
  // background-blend-mode: overlay, normal;
  // box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05),
  //   inset 0px 1px 0px rgba(255, 255, 255, 0.1);
}
.card__image {
  max-width: 100%;
  margin-top: 22px;
}
.card__image-caption {
  font-size: 22px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  margin-top: 22px;
  margin-bottom: 33px;
}

.gallery__card {
  background-color: #fff;
  margin-bottom: 15px;
  width: 290px;
  height: 300px;
  :hover {
    background-color: $text-color-blue;
    color: #fff;
  }
  @include for-large-up {
    width: 262px;
    height: 300px;
    margin: 0;
    margin-right: 30px;
  }
}
@include for-large-up {
  .audience__text {
    width: 555px;
    margin: auto;
  }
}

@include for-large-up {
  .audience-button {
    display: flex;
    justify-content: center;
  }
}
.audience-button {
  .audience-button_item {
    width: 100%;
    color: #000;
    font-weight: 700;
    // @include for-large-up {
    //   width: 160px;
    // }
  }
}
.audience-button {
  .audience-btn_item {
    width: 100%;
  }
  // @include for-large-up {
  //   width: 160px;
  // }
}
