* {
  box-sizing: border-box;
}
html {
  font-family: 'Work Sans', sans-serif;
  color: #2b292d;
}
.page {
  width: 100%;
  overflow-x: hidden;
}
@media screen and (min-width: 400px) {
  .page {
    width: 1400px;
    margin: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
}
@import 'breakpoints.scss';
@import 'variables.scss';
@import 'header.scss';
@import 'order.scss';
@import 'headline.scss';
@import 'about.scss';
@import 'customers.scss';
@import 'features.scss';
@import 'tips.scss';
@import 'common.scss';
@import 'communication.scss';
@import 'audiences';
@import 'inbox.scss';
@import 'feedback';
@import 'hiring.scss';
@import 'footer.scss';
