$text-color-green: #009b4d;
$text-color-light-grey: rgba(43, 41, 45, 0.6);
$text-color-navy: #2b292d;
$text-color-blue: #3142c6;
$background-light-smoke: #f4f5f7;
$background_light-sky: #00a1c612;
$text-light-blue: #0189d1;
$background-light-rose: #fcf0e366;
$background_white: #fff;
